Source: peach-upnp
Section: net
Priority: optional
Maintainer: "Michael Williams" <michael.williams@enspiral.com>
Build-Depends:
  debhelper (>=11~),
  cargo:amd64,
  libstd-rust-dev
Standards-Version: 4.1.4

Package: peach-upnp
Architecture: any
Depends:
  ${misc:Depends}
  , peach-base
  , miniupnpc
Description: Use Universal Plug and Play (UPnP) to expose your Peach device to the internet via your router.
